{% extends "root.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
    
    </head>
    <body>
    {% block content %}
    <div class="slaid_1" style="height: 1000px;">
        <div class="block" style=" height: 870px;">
            <div class="div1">
                <p class="tx">Первичный прием</p>
                <p class="txt">Вторичный прием </p>
                <p class="tx">Вакцинация</p>
                <p class="txt">Стерилизация</p>
                <p class="tx">Кастрация</p>
                <p class="txt">Подрезка когтей</p>
                <p class="tx">Наклейка "Анти-царапок"</p>
                <p class="txt">Инъекция п/кож. и в/мыш.</p>
                <p class="tx">Гигиеническая чистка ушей</p>
                <p class="txt">Лечение отодектозы</p>
                <p class="tx">Бактериальный анализ(мазок)</p>
                <p class="txt">Анализ на дерматомикозы</p>
                <p class="tx">Вскрытие с постановкой диагноза</p>
                <p class="txt">Оценка хоз. деятельности предприятий и КФХ</p>
                <p class="tx">Выезд специалиста на дом</p>
                <p class="txt">Кремация</p>
            </div>
            <div class="div2">
                <p class="tx">600р</p>
                <p class="txt">400р</p>
                <p class="tx">500р</p>
                <p class="txt">2800р</p>
                <p class="tx">1000р</p>
                <p class="txt">170-210р</p>
                <p class="tx">70р</p>
                <p class="txt">138р</p>
                <p class="tx">200р</p>
                <p class="txt">450р</p>
                <p class="tx">300р</p>
                <p class="txt">450р</p>
                <p class="tx">1000р-5000р</p>
                <p class="txt">4000р-5000р</p>
                <p class="tx">20р/ч</p>
                <p class="txt">250р</p>
            </div>
        </div>
    </div>

    {% endblock %}
    </body>
    
</html>